@charset "UTF-8";
/* CSS Document */
* {
    box-sizing: border-box;
}

html, body {
	padding:0;
	margin:0;
    background: #30343F;
}

body {
    font-size: 16px;
}

/* Navigation */

.navbar {
    height: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    position: fixed;
    background: #413C58
}

.navbar-buttons {
    position: relative;
    padding-left: 3.125rem;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px solid #30343F;
}

.overlay {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EFD0CA;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}

.overlay.open {
    opacity: 1;
    height: 100%;
    visibility: visible;
}

.overlay .nav-title {
    font-size: 1.372rem;
    color: #413C58;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%);
    left: 48.5%;
    top: 8%;
    text-align: center;
}

.menu-item-link {
    font-family: 'Lobster', cursive;
    font-size: 1.625rem;
    font-weight: bold;
    color: #E6EFE9;
    text-decoration: none;
    text-shadow: 0 0 20px #413C58;
}

.overlay nav {
    position: relative;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 3.125rem;
    letter-spacing: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.overlay ul {
    position: relative;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
    height: 100%;
}

.overlay ul li {
    position: relative;
    display: block;
    margin-bottom: 50px;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #413C58;
    overflow: hidden;
}


.overlay ul li .strikethrough:hover,
.overlay ul li .strikethrough:focus,
.overlay ul li .strikethrough:active {
    color: #E6EFE9;
	text-shadow: 0 0 20px #413C58;
}

.overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    animation-delay: .5s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    
    100% {
        opacity: 1;
        left: 0;
    }
}

.open-menu,
.close-menu,
.button {
    cursor: pointer;
    transition: transform 0.3s;
}

#open-menu:hover,
#close-menu:hover,
.menu-item-link:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.active {
    color: #fff;
}

@media (max-width: 670px) {
  .overlay nav {
    font-size: 1.875rem;
  }
}
@media (max-width: 550px) {
  .overlay nav {
    font-size: 1.25rem;
  }
}


/* Form Styling */

main {
    height: 100vh;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

#contact-form {
    margin-top: 5%;
    width: 80%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="url"],
#contact-form textarea {
    width: 100%;
    box-shadow: inset 0 1px 2px #ddd, 0 1px 0 #fff;
    border: 1px solid #ccc;
    background: #fff;
    margin: 5px 0 15px 0;
    padding: 10px;
    border-radius: 5px;
}

#contact-form button[type="submit"] {
    cursor: pointer;
    font-size: 0.875rem;
    width: 4.6875rem;
    background: #EFD0CA;
    color: #413C58;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

#contact-form button[type="submit"]:hover {
    transform: scale(1.1);
}

/* Footer Styling */
footer {
    position: relative;
    background: #1FA1F2;
    display: flex;
    justify-content: space-between;
}

.social-menu-container {
    width: 40%;
}

.copyright{
	font-family: 'Raleway', sans-serif;
    padding-left: 50px;
    color: #fff;
}

.social-menu {
	list-style: none;
    display: flex;
    justify-content: space-around;
    padding-right: 30px;
}

.icon {
    color: #fff;
}

.icon:hover{
	opacity:0.5;
}

/* Media Queries */

@media screen and (max-width:500px) {
    .navbar {
        padding: 1rem;
    }

    .overlay nav {
        letter-spacing: 1.25rem;
    }
    
    .navbar-buttons {
        justify-content: flex-end;
    }

    footer {
        justify-content: space-around;
    }

    .copyright {
        padding-left: 0;
    }

    .social-menu {
        padding-right: 0;
    }

    main {
        font-size: 1.2rem;
    }

    #contact-form {
        margin-top: 15%;
    }

    #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form input[type="url"],
    #contact-form textarea {
    margin: 5px 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    }

}


@media screen and (max-width: 800px) {
    .navbar {
        padding: 2rem;
    }

    .overlay nav {
        letter-spacing: 1.875rem;
    }

    #contact-form {
        margin-top: 15%;
    }
}

@media screen and (max-width: 1122px) {
    .navbar {
        padding: 2.2rem;
    }
}