@charset "UTF-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

html, body {
	padding:0;
	margin:0;
    height: 100%;
    width: 100%;
}

body {
    font-size: 16px;
}

/* Navigation */

.navbar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    position: fixed;
}

.navbar-buttons {
    position: relative;
    width: 9.6875rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.overlay {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EFD0CA;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}

.overlay.open {
    opacity: 1;
    height: 100%;
    visibility: visible;
}

.overlay .nav-title {
    font-size: 1.375rem;
    color: #413C58;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%);
    left: 48.5%;
    top: 8%;
    text-align: center;
}

.menu-item-link {
    font-family: 'Lobster', cursive;
    font-size: 1.625rem;
    font-weight: bold;
    color: #E6EFE9;
    text-decoration: none;
    text-shadow: 0 0 20px #413C58;
}

.overlay nav {
    position: relative;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 3.125rem;
    letter-spacing: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.overlay ul {
    position: relative;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
    height: 100%;
}

.overlay ul #close-menu {
    margin-right: 15px;
}

.overlay ul li {
    position: relative;
    display: block;
    margin-bottom: 50px;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #413C58;
    overflow: hidden;
}


.overlay ul li .strikethrough:hover,
.overlay ul li .strikethrough:focus,
.overlay ul li .strikethrough:active {
    color: #E6EFE9;
	text-shadow: 0 0 20px #413C58;
}

.overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    animation-delay: .5s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    
    100% {
        opacity: 1;
        left: 0;
    }
}

.open-menu,
.close-menu,
.button {
    cursor: pointer;
    transition: transform 0.3s;
}

#open-menu:hover,
#close-menu:hover,
.menu-item-link:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.active {
    color: #fff;
}

@media (max-width: 670px) {
  .overlay nav {
    font-size: 1.875rem;
  }
}
@media (max-width: 550px) {
  .overlay nav {
    font-size: 1.25rem;
  }
}

/* Main Styling */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.about-me {
    display: flex;
}

.about-me-text-container {
    width: 80%;
}

.photo {
    background: url('../../Img/self-image.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}

.info {
    height: 100vh;
    width: 50%;
    background: #30343F;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
}

.info-text {
    font-family: 'Motserrat', sans-serif; 
    font-size: 1.5rem;
    text-align: justify;
}

.current {
    height: 30vh;
    background: #fafafa;
    color: #30343F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-text {
    font-size: 7.75rem;
    font-weight: bold;
}

.current-info-container {
    width: 25%;
    padding-left: 25px;
}

.current-info-container h4 {
    font-size: 1.25rem;
    margin-bottom: -10px;
}

.skills {
    height: 65vh;
    background: #fff;
    display: flex;
    justify-content: center;
    z-index: -9999;
}

.skills div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    color: #30343F;
}

.skills-title {
    font-size: 3.5rem;
    font-weight: bolder;
    margin: 0;
}

.skills-title span {
    color: #aaa;
}

.skills-text {
    width: 70%;
    font-size: 1.2rem;
    text-align: justify;
}

.skills div:hover {
    background: #f2f2f2;
}

/* Footer Styling */
footer {
    position: relative;
    background: #1FA1F2;
    display: flex;
    justify-content: space-between;
}

.social-menu-container {
    width: 40%;
}

.copyright{
	font-family: 'Raleway', sans-serif;
    padding-left: 50px;
    color: #fff;
}

.social-menu {
	list-style: none;
    display: flex;
    justify-content: space-around;
    padding-right: 30px;
}

.icon {
    color: #fff;
}

.icon:hover{
	opacity:0.5;
}

/* Media Queries */

@media screen and (max-width:500px) {
    .navbar {
        padding: 1rem;
    }

    .overlay nav {
        letter-spacing: 1.25rem;
    }
    
    .navbar-buttons {
        justify-content: flex-end;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me-text-container {
        width: 100vw;
        padding: 0 3%;
    }

    .name {
        font-size: 2.5rem;
    }

    .info-text {
        font-size: 1rem;
    }

    .photo,
    .info {
        width: 100vw;
        height: 50vh;
    }

    .current {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .current-text {
        font-size: 3.5rem;
        margin-top: 5%;
        margin-bottom: 0;
        padding: 0;
    }

    .current-info-container {
        width: 95%;
        margin-bottom: 5%;
        font-size: 1.1rem;
    }

    .skills {
        flex-direction: column;
        height: auto;
    }

    .skills div {
        width: 100vw;
    }

    .skills-title {
        font-size: 2.5rem;
        padding-top: 5%;
    }

    .skills-text {
        font-size: 1.1rem;
        width: 90%;
    }

    footer {
        justify-content: space-around;
    }

    .copyright {
        padding-left: 0;
    }

    .social-menu {
        padding-right: 0;
    }
}


@media screen and (max-width: 800px) {
    .navbar {
        padding: 2rem;
    }

    .overlay nav {
        letter-spacing: 1.875rem;
    }
}
